{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie|Raleway" />

        <link rel="stylesheet" type="text/css" href="{% static 'recipes/recipes.css' %}">
        <script src="{% static 'recipes/recipes.js' %}"></script>

        {% if title %}
            <title>Yumbo - {{ title }}</title>
        {% else %}
            <title>Yumbo</title>
        {% endif %}
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
            <a class="navbar-brand ml-3" href="{% url 'yumbo-home' %}"><h1>Yumbo</h1></a>

            <button class="navbar-toggler mr-3 ml-auto" type="button" data-toggle="collapse" data-target="#yumboNavbar">
                <!-- Need to update this icon to a font awesome icon -->
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse ml-3 ml-sm-0 mb-0" id="yumboNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'recipes' %}">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'calendar' %}">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Lists</a>
                    </li>
                </ul>


                <!-- We can probably just have one ul tag and have the if statement on the li tag groups -->
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-3 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-3 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'login' %}">Log In</a>
                        </li>
                    </ul>
                {% endif %}
                </div>        
            </div> 
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    </body>
</html>