{% extends "recipes/base.html" %}
{% block content %}
    <div class="container rounded my-3">
        <div class="row mt-3">
            {% for recipe in recipes %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a class="recipe-card-link" href="{% url 'recipe-detail' recipe.pk %}">
                        <div class="col">
                            <div class="card mb-3 recipe-card">
                                <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipe.recipe_name}}</h5>
                                    <p class="card-text">{{ recipe.prep_time }}</p>
                                <!--  <a href="{% url 'recipe-detail' recipe.pk %}" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="recipe-card-link" href="{% url 'create-recipe' %}">
                    <div class="card mb-3 mt-2 recipe-card" id="new-recipe-card">
                            <svg viewBox="0 0 16 16" class="bi bi-plus-circle mx-auto my-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                            <h5 class="card-title mb-4">Add New Recipe</h5>

                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endblock content %}