{% extends "recipes/base.html" %}
{% block content %}
    <div class="container rounded my-3" style="background-color: #fefff6; border: 2px solid black;">
        <div class="row mt-3">
            <div class="col">
                <h1 class="recipe-header">{{ recipe.recipe_name }}</h1>
            </div>

            <div class="col-md-6 offset-md-0">
                <a href="{% url 'delete-recipe' recipe.pk %}" class="btn btn-lg custom-btn delete-btn float-md-right ml-md-1 mt-2">Delete Recipe</a>
                <a href="{% url 'edit-recipe' recipe.pk %}" class="btn btn-lg custom-btn edit-btn float-md-right mt-2">Edit Recipe</a>
            </div>

        </div>
        <hr>
        <img src="{{ recipe.image.url }}" alt="" class="fit-image-profile col-md-6 float-md-right mb-3 ml-md-3 mr-5">
        <p>
            Prep time: {{ recipe.prep_time }}
        </p>
        <h6>Ingredients:</h6>
        <p>
            <ul class="border">
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.ingredient_name }}, {{ ingredient.quantity.normalize }} {{ ingredient.units }}</li>
                {% endfor %}
            </ul>
        </p>
        <ol>
            {% for direction in directions %}
                <li>{{ direction.text }}</li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}