{% extends "recipes/base.html" %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 p-5 container-content rounded">
            <h1 style="font-size: 48pt;">You have been logged out</h1>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}