:root {
    --color-main: hsl(12, 62%, 68%);
    --color-main-dark: hsl(12, 62%, 60%);
    --color-secondary: hsl(171, 30%, 83%);
    --color-secondary-dark: hsl(171, 30%, 75%);
    --color-secondary-darker: hsl(171, 30%, 67%);

    --color-bg: #F4F4E1;
    --color-bg-light: #FEFFF6;

    --color-danger: hsl(352, 86%, 81%);
    --color-danger-dark: hsl(352, 86%, 73%);
    --color-danger-darker: hsl(352, 86%, 65%);
}

h1, h2, h3, .navbar-brand {
    font-family: "Cookie";
    line-height: 1;
}

body {
    font-family: "Raleway";
    background-color: var(--color-bg);
}

.navbar {
    background-color: var(--color-main);
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline var(--color-secondary);
    text-decoration-thickness: 2px;
}

.container-skinny {
    max-width: 720px;
}

.recipe-card {
    color: black;
    background-color: var(--color-bg-light);
    box-shadow: -5px 5px 5px #888888;
    border: 1px black solid;
    top: 0px;
    transition: 150ms ease-in-out;
}

.recipe-card:hover {
    position: relative;
    top: -5px;
    box-shadow: -7px 8px 6px #888888;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.fit-image-profile {
    width: 100%;
    object-fit: cover;
    height: 250px
}

.calendar-card {
    color: black;
    width: 13vw; 
    height: 15rem; 
    flex-shrink: 0; 
    margin-left: 0.5vw; 
    margin-right: 0.5vw;
}

.recipe-header {
    font-size: 46pt;
}

.direction-list {
    list-style: none;
    counter-reset: direction-counter;
}

.direction-item {
    counter-increment: direction-counter;
    position: relative;
}

.direction-item::before {
    content: counter(direction-counter) ".";
    color: #87b76f;
    font-weight: bold;
    position: absolute;
    --size: 35px;
    left: calc(-1 * var(--size)/1.5); top: -1px;
    line-height: 1;
    font-size: 1.5rem;
}

.direction-item h2 {
    font-size: 1.5rem;
}

.direction-item p {
    font-size: 1.2rem;
}

.custom-btn {
    color: white;
    transition: 
        background 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        color 0.2s ease-in-out;
}   

.friendly-btn {
    background-color: var(--color-secondary);
}

.friendly-btn:hover {
    background-color: var(--color-secondary-dark);
}

.friendly-btn:focus {
    box-shadow: 0 0 0 .2rem var(--color-secondary-dark);
}

.danger-btn {
    background-color: var(--color-danger);
}

.danger-btn:hover {
    background-color: var(--color-danger-dark);
}

.danger-btn:focus {
    box-shadow: 0 0 0 .2rem var(--color-danger-dark);
}

.container {
    overflow: hidden;
}

.strikethrough:checked + .ingredient-item {
    text-decoration: line-through;
}

.fieldWrapper {
    margin-bottom: 0.5em;
}

.form-group * {
    margin-bottom: 2px;
}

#ingredients-form-container div[id^='ingredient-'] {
    margin-bottom: 0.5em;
}

input[id$="-DELETE"] {
    display: none;
}

.resize-animation-stopper * {
    transition: none !important;
    transition-duration: 0s !important;
}

.hidden {
    opacity: 0;
    pointer-events: none !important;
}

.visible {
    opacity: 0.7;
}

.carousel-button {
    position: fixed;
    outline: none;
    pointer-events: all;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    display: inline-block;
    overflow: hidden;
    vertical-align: center;
    box-shadow: 0 0 8px #888888;
    transition: width 100ms ease-in-out, height 100ms ease-in-out, opacity 400ms ease-in-out;
}

.carousel-button:focus {
    outline: 0;
}

.carousel-button:hover {
    width: 3.2rem;
    height: 3.2rem;
}

.carousel-button:active {
    width: 2.8rem;
    height: 2.8rem;
    filter: brightness(85%);
}

.carousel-button.carousel-left {
    left: 1%;
}

.carousel-button.carousel-right {
    right: 1%;
}